.crosshair {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.crosshair>svg {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.crosshair>svg>rect {
	fill: rgb(184, 55, 55);
	position: absolute;
}

.crosshair>.location {
	position: absolute;
	background: rgb(184, 55, 55);
	color: white;
	padding: 1px 10px;
	font-family: 'Source Code Pro', monospace;
}

.crosshair>svg>.crosshair-outline {
	animation: crosshair-outline-frame 60s linear infinite;
	stroke: rgba(10, 10, 60, 0.5);
	stroke-dasharray: 31.4;
	fill: transparent;
	stroke-width: 4;
}

@keyframes crosshair-outline-frame {
	to {
		stroke-dashoffset: 1000;
	}
}