.layers {
	grid-area: layers;
	display: flex;
	flex-direction: column;
}

.layers>.preview-data {
	flex: 1;
}

.layer-data {
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	transition-duration: 200ms;
}

.layer-data.selected {
	background: rgba(69, 118, 158, 0.15)
}

.layer-data>.layer-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.layer-data>.layer-header>.edit {
	cursor: pointer;
	background: rgba(0,0,0,0.1);
    border-radius: 100px;
    padding: 0 10px;
	opacity: 0;
	transition-duration: 200ms;
}

.layer-data:hover>.layer-header>.edit {
	opacity: 1;
}

.layer-data:first-child>.layer-header>.edit {
	visibility: collapse;
}

.layer-data>.layer-values {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.layer-data>.layer-values>.layer-value {
	width: 50px;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}

.layer-data>.layer-values>.layer-value.red {
	color: rgb(177, 104, 104);
}

.layer-data>.layer-values>.layer-value.green {
	color: rgb(104, 156, 104);
}

.layer-data>.layer-values>.layer-value.blue {
	color: rgb(113, 152, 189);
}

.layer-data>.layer-values>.layer-value.gray {
	color: rgb(100, 100, 100);
}

.coordinates {
	display: flex;
	flex-direction: row;
	justify-content: center;
	justify-self: center;
}

.coordinates>.coordinate {
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}