.layers {
	grid-area: layers;
}

.layer-data {
	margin: 10px;
}

.layer-data>.layer-values {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.layer-data>.layer-values>.layer-value {
	width: 50px;
	text-align: center;
	font-family: 'Source Code Pro', monospace;
	font-size: 20px;
}

.layer-data>.layer-values>.layer-value.red {
	color: rgb(177, 104, 104);
}

.layer-data>.layer-values>.layer-value.green {
	color: rgb(104, 156, 104);
}

.layer-data>.layer-values>.layer-value.blue {
	color: rgb(113, 152, 189);
}

.layer-data>.layer-values>.layer-value.gray {
	color: rgb(100, 100, 100);
}