.menu {
	grid-area: menu;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.menu>div, .menu>a {
	margin: 0 10px;
	cursor: pointer;
	color: black;
	text-decoration: none;
}

.file-form>label {
	cursor: pointer;
}

.menu>.first.external {
	margin-left: auto;
}