.shader-editor {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 20px;
	background-color: #ececec;
}

.code-editor {
	width: auto !important;
	height: auto !important;
	margin-left: 40px;
}

.code-editor.vertex {
	flex: 1;
}

.code-editor.fragment {
	flex: 2;
}

.code-editor .ace_gutter {
	background-color: #ffffff;
	border-right: 1px solid #e8e8e8;
}

.shader-editor>.header {
	font-size: large;
	margin: 10px 5px;
}

.shader-editor>.name-editor {
	background: white;
    padding: 5px 15px;
    margin-left: 40px;
    font: inherit;
    border: none;
    outline: none;
}

.shader-editor>.options {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 20px;
}

.shader-editor>.options>.option {
	background: rgb(214, 214, 214);
	padding: 5px 15px;
	margin-left: 20px;
	cursor: pointer;
	user-select: none;
}

.shader-editor>.options>.option:hover {
	filter: brightness(0.8);
}

.shader-editor>.options>.option.compile {
	background: rgb(13, 52, 124);
	color: white;
}

.shader-editor>.options>.option.save {
	background: rgb(13, 124, 46);
	color: white;
}

.shader-editor>.options>.option.delete {
	background: rgb(124, 13, 13);
	color: white;
}

.shader-editor>.logs {
	height: 100px;
	overflow-y: auto;
	margin-left: 40px;
	background: #e0e0e0;
	padding: 3px 15px;
	margin-top: 20px;
	border: 1px solid #c7c7c7;
}

.shader-editor>.logs.error {
	color: #af1919;
}