.shader-editor {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	padding: 20px;
	background-color: #ececec;
}

.code-editor {
	width: auto !important;
	height: auto !important;
	margin-left: 40px;
}

.code-editor.vertex {
	flex: 1;
}

.code-editor.fragment {
	flex: 2;
}

.code-editor .ace_gutter {
	background-color: #ffffff;
	border-right: 1px solid #e8e8e8;
}

.shader-editor>.header {
	font-size: large;
	margin: 10px 5px;
}

.shader-editor>.name-editor {
	background: white;
	padding: 5px 15px;
	margin-left: 40px;
}

.shader-editor>.options {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 20px;
}

.shader-editor>.options>.option {
	background: rgb(214, 214, 214);
	padding: 5px 15px;
	margin-left: 20px;
	cursor: pointer;
}

.shader-editor>.options>.option:hover {
	filter: brightness(0.8);
}

.shader-editor>.options>.option.save {
	background: rgb(13, 52, 124);
	color: white;
}